$menu-bg:#2D3E50
$black:#000000
$white:#FFFFFF
$dark-blue:#052f65
$nave-blue:#134266
$dark-bg:#F0F0F0
$blue:#05C2FA
$light-blue:#0067b0
$shadow-icon-color:#9b9b9b
$light-shadow:#4a4a4a
//$deep-gray:#1d1d1d
$dark-gray:#1d1d1d
$gray:#5b5b5b
$light-gray:#9b9b9b
$soft-gray: #7a7a7a
$white-gray:#F0F0F0
$normal-white:#EEEEEE


$font-graphic:"Graphik Web", sans-serif
$font-graphic-light: "Graphik Light", sans-serif
$font-helvetica:"Helvetica", sans-serif
$fa: normal normal normal 14px/1 FontAwesome

$font-14:14px
$font-16:round(($font-14 * 1.1428))
$font-18:round(($font-14 * 1.2857))
$font-20:round(($font-14 * 1.42857))
$font-22:round($font-14 * 1.5714)
$font-24:round(($font-14 * 1.7142))
$font-28:round(($font-14 * 2 ))
$font-30:round(($font-14 * 2.1428))
$font-36:round(($font-14 * 2.5714))
$font-38:round(($font-14 * 2.7142))
$font-40:round(($font-14 * 2.8571))
$font-42:round(($font-14 * 3))
$font-44:round(($font-14 * 3.1428))
$font-46:round(($font-14 * 3.2857))
$font-48:round(($font-14 * 3.4285))

$font-weight-300:300
$font-weight-400:400
$font-weight-700:700
$font-weight-900:900

$line-height-23:23px
$line-height-30:30px

$assetPath : "../css/images"
